body {
  background-color: #b3d4e6;
}

.topnav {
  overflow: hidden;
  background-color: #09233e;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #74bbe2;
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.title {
  display: block;
  margin: auto;
  height: 576px;
  width: 768px;
}

.playButton {
  display: block;
  margin: auto;
  height: 288px;
  width: 384px;
  ;
}

h2 {
  text-align: center;
  color: #09233e;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 50px;
}

h5 {
  text-align: center;
  color: #09233e;
  margin-left: 400px;
  margin-right: 400px;
  font-size: 20px;
}

.video {
  text-align: center;
}

h1 {
  text-align: center;
  color: #09233e;
}

.prompt {
  text-align: center;
  color: #09233e;
  margin-left: 100px;
  margin-right: 100px;
}

p {
  text-align: center;
  color: #09233e;
  margin-left: 100px;
  margin-right: 100px;
}

h4 {
  text-align: center;
  color: #09233e;
  font-size: 50px;
}